@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Poppins', 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji', 'Poppins';
    --font-poppins: 'Poppins', sans-serif;
    --color-lap-white: #FAF7F3;
    --color-lap-cream: #F3F5F9;
    --color-lap-brown: #DCC5B2;
    --color-lap-peach: #D9A299;
    --color-lap-navy: #113F67;
    --color-lap-blue: #58A0C8;
    --color-lap-sky: #F3F8FF;
    --color-lap-dark: #3B3E42;
}

.hide-scrollbar {
  /* Untuk Firefox */
  scrollbar-width: none;

  /* Untuk Chrome, Safari, dan Opera */
  -ms-overflow-style: none; /* IE dan Edge */
}

/* Untuk Chrome, Safari, dan Opera (Webkit-based browsers) */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Custom Animations */
@keyframes fadeOutUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}

.alert-closing {
    animation: fadeOutUp 0.3s ease-in-out forwards;
}

/* Hover effect untuk tombol close */
.close-btn:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease;
}
